.ReferenceBlockInEditor input[type="text"] {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 60%;
  font-size: 16px;
  text-align: center;
}
